<div class="container">
    <h2>shipping quote</h2>
    <form id="sumForm">
        <div class="form-group">
            <label for="location1">Location 1:</label>
            <input type="number" id="location1" name="location1" required>
        </div>
        <div class="form-group">
            <label for="location2">Location 2:</label>
            <input type="number" id="location2" name="location2" required>
        </div>
        <div class="form-group">
            <label for="weight">Weight:</label>
            <input type="number" id="weight" name="weight" required>
        </div>
        <div class="form-group">
            <label for="size">Size:</label>
            <input type="number" id="size" name="size" required>
        </div>
        <div class="form-group">
            <label for="type">Type:</label>
            <input type="text" id="type" name="type" required>
        </div>
        <button type="button" onclick="sumValues()">Enviar</button>
    </form>
    <div id="resultContainer"></div>
</div>


<style>
    .container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
</style>